#navArt span {
    text-decoration: underline;
}
body#portfolio {
    position: relative;
    width: 100%;
    padding-top: 90px;
    overflow-x: hidden;
}
body#portfolio section {
    width: 100vw;
    height: auto;
    overflow: hidden;
}
div.img {
    height: 75vw;
    overflow: hidden;
}
div.img.vertical {
    height: 130vw;
}
div.text {
    height: 70px;
    position: relative;
    padding: 10px 0 0 8vw;
}
div.more {
    width: 20vw;
    position: absolute;
    right: 0;
    top: 16px;
    z-index: 10;
}
div.more span {
    position: relative;
    font-size: 23px;
    top: -4px;
    left: -10px;
}
img.arrow {
    width: 14px;
}
.title {
    width: 60vw;
    margin-bottom: 5em;
}
body#portfolio section {
    display: grid;
    grid-row-gap: 0;
}
section img{
    width: 100%;
}
section h1 {
    font-size: 37px;
    display: inline-block;
    margin-right: 15px; /* the space between the artwork title and the year of creation */
}
.title span {
    font-family: simplifica, sans-serif;
}
.curve img {
    width: 18%;
    margin-left: 43%;
}
button.inquire {
    height: 50px;
    width: 130px;
    margin-right: 50px;
    border: 1px solid var(--medium-grey);
    border-radius: 3px;
    font-size: 23px;
    cursor: pointer;
}
.SoMeIcon {
    width: 50px;
    opacity: .3;
    margin-right: 15px;
    position: relative;
    top: 21px;
    cursor: pointer;
}
span.share {
    font-family: simplifica, sans-serif;
    font-size: 23px;
    margin-right: 15px;
}
.big-image {
    overflow: hidden;
    pointer-events: none;
}
.only-next {
    display: none;
}
.modal span {
    cursor: pointer;
}
@media screen and (min-width: 760px){
    body#portfolio section {
        width: 100vw;
        height: auto;
        overflow: hidden;
        margin-bottom: 50px;
    }
    div.img {
        height: 100vw;
        overflow: hidden;
    }
    div.img.vertical {
        height: 100vw;
    }
    div.img.horizontal img.horizontal {
        margin: 12.5vw 0;
    }
    div.img.vertical img.horizontal {
        width: 100vw;
        height: auto;
        margin: 12.5vw 0;
    }
    div.img img.vertical {
        width: 75vw;
        height: 100vw;
        margin: 0 auto 0 12.5vw;
    }
    div.text {
        width: 68vw;
        height: auto;
        position: relative;
        padding: 1vw 0 0 12.5vw;
    }
    .fetched>* {
        margin-top: 1em;
    }
    .title {
        margin-bottom: 0;
    }
    div.more {
        display: none;
    }
    .only-next {
        display: inherit;
        position: absolute;
        right: -20vw;
        top: 35px;
    }
    .only-next .slide-dot {
        cursor: pointer;
        display: inline-block;
        margin-bottom: 20px;
        width: 20px;
        height: 20px;
        border-radius: 100%;
        background: var(--dark-grey);
    }
    .only-next .slide-dot-new {
        background: var(--light-grey);
    }
    /* form */
    .inquire-form {
        background: white;
        z-index: 30;
        width: 86vw;
        height: auto;
        margin: 0 7vw;
        position: fixed;
        opacity: 0;
    }
    input {
        border: .5px solid var(--light-grey);
        border-radius: 2px;
    }
    .inquire-form.show {
        animation: fadeIn .1s .1s ease-in forwards;
    }
    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    .closeMe {
        font-family: simplifica, sans-serif;
        font-size: 50px;
        color: var(--dark-grey);
        position: absolute;
        right: 50px;
        top: 50px;
        cursor: pointer;
    }
    .sign {
        width: 50%;
        padding: 120px 10px 120px 50px;
    }
    .quote {
        font-size: 23px;
        margin-bottom: 40px;
    }
    .personalMex {
        font-family: Sukhumvit-thin, sans-serif;
    }
    .form {
        width: 50%;
        position: absolute;
        right: 0;
        top: 120px;
        padding: 0 50px;
        font-family: Sukhumvit-bold, sans-serif;
    }
    .form input {
        width: 100%;
        height: 35px;
        margin: 5px 0 15px 0;
    }
    input.message {
        height: 170px;
    }
    button.submit {
        height: 50px;
        width: 130px;
        font-size: 23px;
        border: 1px solid var(--medium-grey);
        border-radius: 2px;
        margin-top: 30px;
        cursor: pointer;
    }
    .curve img {
        margin-left: 54%;
    }

}

@media screen and (min-width: 1200px){
    .only-next {
        display: none;
    }
    div.img {
        height: auto;
        overflow: auto;
        cursor: pointer;
    }
    .title {
        width: auto;
        margin-bottom: 0;
    }
    .concept {
        margin-top: 15px;
    }
    div.text {
        padding: 10px 0 0 0;
        width: auto;
        max-height: 50vw;
    }
    :root {
        --unit: 2vw;
    }
    body#portfolio section {
        margin-bottom: 30px;
        width: auto;
        padding-left: calc(3 * var(--unit));
        grid-template-columns: calc(24* var(--unit)) calc(17 * var(--unit));
        grid-template-rows: minmax(calc(18* var(--unit)), 45vw) calc(3* var(--unit)) calc(3* var(--unit));
        grid-column-gap: calc(2 * var(--unit));
        grid-row-gap: calc(1 * var(--unit));
    }
    body#portfolio section>div:not(.curve).horizontal {
        grid-row: 1/3;
        display: grid;
        grid-template-rows: calc(18 * var(--unit)) calc(3*var(--unit));
        grid-row-gap: var(--unit);
    }
    body#portfolio section>div:not(.curve).vertical {
        display: grid;
        grid-template-columns: calc(4 * var(--unit)) calc(19 * var(--unit));
        grid-template-rows: calc(24 * var(--unit));
        grid-column-gap: var(--unit);
    }
    div.vertical .big-image {
        grid-column: 2/3;
        grid-row: 1/-1;
    }
    div.vertical .small-images {
        grid-column: 1/2;
        display: grid;
        grid-template-rows: repeat(5, calc(4* var(--unit)));
        grid-row-gap: var(--unit);
    }
    div.vertical .small-images>* {
        grid-column-start: 1;
    }
    .curve {
        grid-row: 3/-1;
        grid-column: 1/-1;
    }
    .small-images {
        display: grid;
        grid-template-columns: repeat(5, calc(4 * var(--unit)));
        grid-column-gap: var(--unit);
        overflow: hidden;
    }
    .big-image {
        pointer-events: auto;
        cursor: pointer;
    }
    div.img.horizontal img.horizontal {
        margin: 0;
    }
    div.img.horizontal img.vertical {
        width: 100%;
        height: auto;
        margin: 0;
        position: relative;
        top: -27.5%;  /* show the center of the image */
    }
    div.img.vertical img.horizontal {
        margin: 0;
        width: 130%;
        height: auto;
        position: relative;
        left: -15%;
    }
    div.img.vertical img.vertical {
        width: 100%;
        height: auto;
        margin: 0;
    }
    div.img.vertical .small-images img.vertical {
        margin: 0;
        width: 100%;
        height: auto;
        position: relative;
        top: -20%;
    }
    div.thumbnail {
        overflow: hidden;
    }
    .fetched .title {
        margin-top: 0;
    }
    .dimention {
        margin-bottom: 20px;
    }
    .buttons {
        position: absolute;
        bottom: -55px;
    }
    .title {
        grid-row: 1/4;
    }
    .description {
        grid-row: 4/9;
        overflow-y: scroll;
        overflow-y: scroll;
    }
    .concept {
        grid-row: 9/-1;
        overflow-y: scroll;
        cursor: s-resize;
    }
    .curve img {
        width: 13%;
        margin-left: 62.5%;
    }
    .more {
        display: none;
    }
    .modal {
        width: 100vw;
        height: calc(100vh - 70px);
        position: fixed;
        top: 70px;
        background: rgba(255,255,255,.9);
        z-index: 3;
    }
    .inquire-form {
        height: 80vh;
        width: 90vw;
        right: 40px;
        margin: 0 5vw;
        padding: 0 3vw;
        overflow: scroll;
    }
    .form {
        width: 46%;
    }
    /* slideshow */
    .slideshow {
        width: 120vh;
        height: 90vh;
        position: fixed;
        top: 5vh;
        margin-left: calc(50vw - 60vh);
        z-index: 4;
        overflow-y: scroll;
        cursor: ns-resize;
    }
    .slideshow>span {
        position: fixed;
        top: 52vh;
        font-size: 50px;
        font-family: simplifica, sans-serif;
        cursor: pointer;
    }
    .toLeft {
        left: 30px;
    }
    .toRight {
        right: 30px;
    }
    span.closeModal {
        top: 70px;
        right: 30px;
    }
    iframe {
        position: absolute;
        left: 0;
        width: 120vh;
        height: 67.5vh;
        margin-top: 10vh;
    }
    .slideshow img {
        position: absolute;
        left: 0;
        top:0;
        width: 100%;

    }
}
