@font-face {
    font-family: Simplifica;
    src: url(fonts/simplifica-typeface.ttf);
}

@font-face {
    font-family: Sukhumvit;
    src: url(fonts/SukhumvitSet-Thin.ttf);
}

@font-face {
    font-family: Sukhumvit-Bold;
    src: url(fonts/SukhumvitSet-Bold.ttf);
}

body {
    position: relative;
}

.hide {
    display: none;
}

.lanactive {
    color: #BFBFBF;
}

button.lanactive:hover {
    text-decoration: none;
}

.active {
    text-decoration: underline;
}

.thumbNails {
    display: none;
}

.desktopOnly {
    display: none;
}

.tabletOnly {display: none;}
button {
    cursor: pointer;
    border: none;
    background: white;
    font-family: Simplifica, sans-serif;
}

button:hover,
a:hover {
    text-decoration: underline;
}



body {
    width: 100%;
    overflow-x: hidden;
    font-family: Sukhumvit, sans-serif;
    position: relative;
}

p {
    font-family: Sukhumvit, sans-serif;
    color: #959494;
}

footer div.desktopFooter {
    display: none;
}

footer {
    width: 100%;
    font-size: 13px;
    text-align: center;
    bottom: -200px;
}

div.footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer img {
    width: 30px;
    padding: .5em;
    cursor: pointer;
}

footer img:nth-child(3) {
    width: 34px;
    opacity: .4;

}

.linkedin {
    opacity: .4;
}

.desktop {
    display: none;

}

body:not(#homepage) {
    background: linear-gradient(to bottom, #ffffff 0%, #f0f2f5 30%, #ffffff 100%);
    max-width: 100%;
}

/*we are using the mobile-first approach, which means that from here on the code is for the mobile, and the specifications for desktop are gonna be contained in the media query*/

a {
    color: black;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
a {
    font-family: Simplifica;
}
h3{
    font-weight: 100;
    text-transform: capitalize;
}

a.no-styling {
    font-family: Sukhumvit, sans-serif;
}

span {
    font-weight: inherit;
    font-size: inherit;
}

h2 {
    font-weight: 100;
    font-size: 28px;

}

h4 {
    font-size: 19px;
}

.background {
    background: url(images/homepage-mobile.jpg) fixed center no-repeat;
    background-size: contain;
    width: 100%;
    height: calc(180vw - 170px); /* based on screen ratio and height of navi + footer */
    position: absolute;
    top: 70px;


}

.background h1 {
    font-size: 63px;
    font-weight: 200;
    width: 100vw;
    position: absolute;
    bottom: 200px;
    left: 5%;
}

.background h2 {
    position: absolute;
    bottom: 160px;
    left: 5%;

}

img.homepage, img.heart1, img.heart2, img.el-dot {
    display: none;
}



/*header*/

header {
    background: white;
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    z-index: 20;
}

.logo {
    width: 50px;
    float: right;
    padding: 1em 4.5%;
}


/*navigation*/

.burger {
    width: 25px;
    padding: 25px 1em 0 5%;
}

.navMenu {
    width: 100%;
    height: 0vh;
    position: relative;
    overflow: hidden;
    background-color: white;
    z-index: 10;

}

nav {
    position: absolute;

}

nav a {
    color: black;
    text-decoration: none;
    display: block;
    padding-left: 5vw;
    padding-bottom: .6em;
    font-size: 30px;


}

.lan {
    float: right;
    position: fixed;
    top: 26px;
    right: 100px;
    z-index: 20;
}

.lan button {
    font-size: 18px;
    font-weight: 100;

}

.closeNav {
    animation: closeNav .3s forwards ease;
}

.openNav {
    animation: openNav .3s forwards ease;
}

@keyframes closeNav {
    from {
        height: 43vh;
    }
    to {
        height: 0vh;
        margin-top: -30%;
    }
}

@keyframes openNav {
    to {
        height: 50vh;
    }
}

.timeline {
    position: relative;
}

.subMenu {
    position: absolute;
    left: 5%;
    width: 100%;
}

.subMenu:hover {
    height: 50vh;
}

.subMenu a {
    font-size: 26px;
}


.more img {
    margin-left: 1vw;
}

.more:hover {
    text-decoration: underline;
}

.arrow {
    width: 10px
}

.gallery div.mainImg {
    position: relative;
    width: 100%;
    height: 40vh;
    overflow: hidden;
}

div.mainImg img {
    position: absolute;
    top: 0;
    left: -2vw;
    right: 0;
    bottom: 0;
    margin: auto;
}

img.sculpture {
    max-width: 90vw;
    padding-bottom: .7em
}

div.centerMe {
    padding-top: 5vh;
    padding-left: 26vw;
    display: block;
}

h4.dimension {color:#959494;}
.centerMe img {
    max-width: 35vw;
}

/*timeline*/

div.line {
    background: black;
    width: 1.5px;
    position: absolute;
    left: 5vw;
}

.menu div,
.menu div div,
.menu h2 {
    display: inline;
}

.link img {
    max-width: 14px;
}

div.menu {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 4%;
    position: fixed;
    top: 70px;
    padding: 30px 0 0 4%;
    z-index: 11;
    background: white;
}

.menu div {
    position: relative;
    margin-bottom: 20px;
}

div.menuDot {
    width: 16px;
    height: 16px;
    border-radius: 100%;
    position: absolute;
    top: 5px;
}

.menu div h2 {
    margin-left: 40px;
}

main.timeline {
    padding-left: 5vw;
    margin-top: 270px;
}

article {
    padding-left: 6vw;
    position: relative;
    margin-bottom: 60px;
}

.dot {
    position: absolute;
    left: -7px;
    top: -2px; /* to cover the top of the black line */
    width: 14px;
    height: 14px;
    border-radius: 100%;
    z-index: 10;
}

.linkIcon {
    max-width: 20px;
}

.greyDot {
    background: #E3E3E3;
}

.yellowDot {

    background: #EEDCC0;


}

.brownDot {

    background: #A8977C;

}

.blackDot {

    background: black;

}

article h4,
.year {
    font-size: 16px;
    font-family: Sukhumvit, sans-serif;
}

article h3 {
    font-family: Sukhumvit-Bold;
    font-weight: 100;
    color: #959494;
}


div.menu.fixMe {
    background: white;
    z-index: 19;  /* should be below the main manu, but on top of other things */
}

@media screen and (min-width:768px) {
    .background {
        background-size: cover;
        height: calc(100vh - 100px);
    }
    main {
        position: relative;
    }

    .desktop {
        display: block;
    }

    .tabletOnly {
        display:block;
    }
    /*timeline*/
    div.line {
        left: 50vw;
        top: 0vh;
    }

    .menu div:hover {
        text-decoration-line: underline;
    }

    main.timeline {
        display: block;
        margin-top: 35vh;
    }

    article {
        width: 45vw;
    }

    article.right {
        margin-left: 129vw;
        animation: slideLeft .5s ease forwards;
    }

    article.left {
        margin-left: -130vh;
        text-align: right;
        animation: slideRight .5s ease forwards;
    }

    article.left .dot {
        left: 57.267vw;
    }

    @keyframes slideLeft {
        to {
            margin-left: 45.3vw;

        }
    }

    @keyframes slideRight {
        to {
            margin-left: -13vw;

        }
    }


}

@media screen and (min-width: 800px) {
    body {
        position: relative;
    }
    main {
        padding: 0 9%;
    }
    /*timeline*/
    div.line {
        position: fixed;
        top: 150px;
        left: 40%;
        height: calc(100vh - 190px);
    }
    div.menu {
        grid-template-columns: repeat(4, 1fr);
        width: 100%;
        justify-content: space-around;
        left: 0;

        background: white;
        z-index: 11;
    }

    article {
        width: 34vw;

    }

    main.timeline {
        margin-top: 200px;
        padding-left: 0;
    }

    article.left {
        padding-left: 0;
        text-align: right;
        padding-right: 6vw;
    }
    article.left .dot {
        left: 38.17vw;
    }

    article.right .dot {
        left: 1.5vw;
    }

    @keyframes slideLeft {
        to {
            margin-left: 38.1vw;

        }
    }

    @keyframes slideRight {
        to {
            margin-left: 1.5vw;

        }
    }

}
