/* loader */
.loader{
            z-index: 5;
            position: relative;
            background-color: #eeeeee;
            width: 100vw;
            height: 100vh;
        }
svg {
    position: absolute;
    left: 0;
    right: 0;
    top:0;
    bottom: 0;
    margin: auto;
  width: 10em;
}
rect, polyline, path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: draw 1.5s forwards ease-in-out infinite;
}

@keyframes draw {
  0% {
    stroke-dashoffset: 1000;
  }
  50%{
     stroke-dashoffset: 0;
  }
  99.9%{
    stroke-dashoffset: 1000;
  }
  100%{
   stroke-dashoffset: 0;
  }
}

body#subpage {
    margin: 0;
}
.back {
    font-family: simplifica, sans-serif;
    font-size: 50px;
    position: relative;
    top: 10px;
    left: 5%;
    cursor: pointer;
}
h3 {
    font-size: 23px;
}
#subpage input {
    width: 100%;
}

#subpage input.message {
    height: 100px;
}

#subpage div.closeMe {
    display: none;
}
#subpage button.submit {
    font-size: 33px;
    padding: 10px 0 0 0;
    width: 100px;
    border: 1px solid black;
    border-radius: 2px;
    margin-top: 1em;
}
section.subPageS, #subpage aside {
    padding: 0 5%;
    margin-top: 90px;
}
#subpage .inquire {
    font-size: 63px;
    padding: 0;
    background: transparent;
    border-bottom: 1px solid black;
    display: none;
}
#subpage .title {
    font-size: 50px;
    font-weight: 100;
}
#subpage form {
    margin-bottom: 50px;
}

@media screen and (min-width: 760px){
    #subpage .inquire {
        display: inherit;
    }
}
